<h1>Find your bookings below</h1>

<% current_user.bookings.each do |booking| %>
<div>
  <hr>
    <h3><%= booking.furniture.title %></h3>
    <p>Message: <%= booking.comment %> </p>
    <p>Starting day: <%=booking.renting_start%></p>
    <p>Ending day: <%=booking.renting_end%></p>
    <%duration = (booking.renting_end - booking.renting_start).to_i + 1%>
    <%booking%>
    <%if duration == 1%>
    <p>Duration: <%=duration%> day</p>
    <%else%>
    <p>Duration: <%=duration%> days</p>
    <%end%>
    <p>Total price: <%= (duration * booking.furniture.price).to_i%>€</p>
</div>
<% end %>

<h2>Booking Requests for Your Furnitures</h2>

<% @bookings_for_user_furnitures.each do |booking| %>
<div class="d-flex d-row justify-content-evenly">
  <div class= "request-container">
    <div class="request-image">
      <% if booking.furniture.photo.attached? %>
        <%= cl_image_tag(booking.furniture.photo.key, alt:booking.furniture.title, width: 330, height: 270, crop: :fill) %>
      <% else %>
       <p>No photo available</p>
      <% end %>
    </div>

        <% if booking.status == "pending" %>
          <div class="request-card">
            <h4><%= booking.furniture.title %></h4>
            <hr>
            <p><i class="fa-solid fa-comment"></i> Comment: <%= booking.comment %></p>
            <p>Status: <%= booking.status %></p>
            <p><i class="fa-regular fa-calendar-check"></i> Start of booking: <%= booking.renting_start %></p>
            <p><i class="fa-regular fa-calendar-check"></i> End of Booking: <%= booking.renting_end %></p>
            <p><i class="fa-solid fa-user"></i> Requested by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "accept-button"%>
              <%= button_to "Reject", reject_booking_path(booking), method: :patch, class: "reject-button" %>
          </div>
          <% elsif booking.status == "accepted" %>
            <div class="request-card">
              <h4><%= booking.furniture.title %></h4>
              <hr>
              <p><i class="fa-solid fa-comment"></i> Comment: <%= booking.comment %></p>
              <p>Status: <%= booking.status %></p>
              <p><i class="fa-regular fa-calendar-check"></i> Start of booking: <%= booking.renting_start %></p>
              <p><i class="fa-regular fa-calendar-check"></i> End of Booking: <%= booking.renting_end %></p>
              <p><i class="fa-solid fa-user"></i> Requested by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <hr>
            </div>
          <% else %>
            <div class="request-card">
              <h4><%= booking.furniture.title %></h4>
              <hr>
              <p><i class="fa-solid fa-comment"></i> Comment: <%= booking.comment %></p>
              <p>Status: <%= booking.status %></p>
              <p><i class="fa-regular fa-calendar-check"></i> Start of booking: <%= booking.renting_start %></p>
              <p><i class="fa-regular fa-calendar-check"></i> End of Booking: <%= booking.renting_end %></p>
              <p><i class="fa-solid fa-user"></i> Requested by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <hr>
            </div>
          <% end %>
    </div>
</div>
<% end %>
