<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://preview.redd.it/chairway-to-heaven-v0-s1uosycpl7db1.jpg?width=1024&format=pjpg&auto=webp&s=b65c4db2b5e8a73b6b3a99ffd34748d9ce504b3e);">
  <div class="container">
    <h1 class= "fs-1">Chairway to <strong>heaven</strong>!</h1>
    <p class="fs-3 ">Gift your old inventory <br> a second life!</p>
    <%= link_to "Add your own furniture", new_furniture_path, class: "button" %>
  </div>
</div>

<% @furnitures.each do |furniture|%>
  <div class="d-flex justify-content-center my-2">
    <%=link_to furniture_path(furniture), class: "header-style" do%>
      <div class="card-product my-2">
        <% if furniture.photo.attached? %>
          <%= cl_image_tag(furniture.photo.key, width: 400, height: 300, crop: :fill) %>
        <% end %>
        <div class="card-product-infos">
            <h2 class="fs-4 mt-4"><strong> <%=furniture.title%></strong></h2>
              <hr>
            <p class="pb-1 fs-5"><%= furniture.description%></p>
            <p class="fs-4 text mb-2 pb-2"><strong><%= furniture.price.to_i%>€ per day</strong></p>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
